Empty_Support_AC_DB_yaml                RCDATA "Support\\AC.DB.yaml"
Empty_Support_AfterCreate_rtf           RCDATA "Support\\AfterCreate.rtf"
Empty_Support_Auth_DB_yaml              RCDATA "Support\\Auth.DB.yaml"
Empty_Support_Auth_DBServer_yaml        RCDATA "Support\\Auth.DBServer.yaml"
Empty_Support_Auth_OSDB_yaml            RCDATA "Support\\Auth.OSDB.yaml"
Empty_Support_Auth_TextFile_yaml        RCDATA "Support\\Auth.TextFile.yaml"
Empty_Support_DB_ADO_yaml               RCDATA "Support\\DB.ADO.yaml"
Empty_Support_DB_DBX_yaml               RCDATA "Support\\DB.DBX.yaml"
Empty_Support_DB_FD_yaml                RCDATA "Support\\DB.FD.yaml"
Empty_Support_Info_rtf                  RCDATA "Support\\Info.rtf"
Empty_Home_Metadata_Config_yaml         RCDATA "Home\\Metadata\\Config.yaml"
Empty_Home_Resources_js_application_css RCDATA "Home\\Resources\\js\\application.css"
Empty_Home_Resources_js_application_js  RCDATA "Home\\Resources\\js\\application.js"
Empty_Home_Project_kproj                RCDATA "Home\\Project.kproj"
Empty_Source_Project_dproj              RCDATA "Source\\Project.dproj"
Empty_Source_Project_dpr                RCDATA "Source\\Project.dpr"
Empty_Source_Project_res                RCDATA "Source\\Project.res"
Empty_Source_Controllers_pas            RCDATA "Source\\Controllers.pas"
Empty_Source_Rules_pas                  RCDATA "Source\\Rules.pas"
Empty_Source_UseKitto_pas               RCDATA "Source\\UseKitto.pas"
