.x-form-invalid 
{
	background-color: #cc7777;
}

.x-form-readonly
{
	color: #666666;
}

.x-form-empty-field
{
	font-style: italic;
	color: #333333;
}

.x-form-text-field-body-default
{
	/* prevents remote combos to be rendered one pixel off with certain themes */
	vertical-align: top;
}

.k-loading {
	/* make the title stand out by placing it over the loading mask */
	z-index: 20001;
	color: black;
	background-color: white;
	text-align: center;
	font-size: 200%;
	width: 600px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 40px;
	border-radius: 25px;
}
