#templatedataview .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#templatedataview .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #templatedataview .thumb {
    padding-bottom: 3px;
}

#templatedataview .thumb img{
    height: 60px;
    width: 80px;
}
#templatedataview .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#templatedataview .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

#templatedataview .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(/res/over.gif) repeat-x left top;
    padding: 4px;
}

#templatedataview .x-item-selected{
    background: #eff5fb url(/res/selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
#templatedataview .x-item-selected .thumb{
    background:transparent;
}

#templatedataview .loading-indicator {
    font-size:11px;
    background-image:url('/res/ext/classic/theme-classic/images/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.x-editable {
    color: #000;
}