.x-form-invalid 
{
  background-color: #ffeeee;
}

.x-form-readonly
{
  color: #666666;
}

.x-form-empty-field
{
  font-style: italic;
  color: #333333;
}

.k-tile-box
{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
}

.k-tile-row
{
  float: top;
}

.k-tile-title-row
{
  float: top;
  font-size: 150%;
  font-style: bold;
}

.k-tile
{
  font-size: 150%;
  color: white;
  width: 10%;
  height: 20%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px 10px 10px 10px;
  text-align: center;
}

.k-tile-inner
{
  display: inline-block;
  height: 60px;    
}

a
{
  color: white;
}

a:hover
{
  color: black;
  background-color: white;
}
